/*==============================================
GENERALES
===============================================*/
.btn-form:hover {
	background-color: #35858B;
}

/*==============================================
SITE-HEADER
===============================================*/
.site-nav ul {
	gap: 1rem;
}
.site-nav ul li + li::before {
	padding: 0 4rem;
}

/*==============================================
SITE-HERO
===============================================*/
.hero {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	gap: 5rem;
	margin: 10rem auto 5rem;
}
.hero-img img {
	width: 100%;
	margin: 0 auto;
}
.h-heading {
	margin: 0;
	font-size: 4.5rem;
	line-height: 5.5rem;
}
.h-parrafo {
	line-height: 2.3rem;
	margin: 2rem 0;
}

/* FORMULARIO HERO */
.hero-form {
	text-align: left;
}
.hero-form input:first-of-type {
	width: 90%;
	max-width: 350px;
	margin: 0 2rem 0 0;
	display: inline;
}

/*==============================================
SITE-MAIN
===============================================*/
.site-main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr;
}
/* MAIN IMAGEN */
.main-img {
	grid-column: 2 / 3;
}
.main-img img {
	margin: 0 auto;
}

/* MAIN TEXTO */
.main-txt {
	grid-row: 1 / 3;
	align-self: center;
}
.main-txt-heading {
	margin: 0;
	line-height: 3.5rem;
	text-align: left;
}
.main-txt-contenido p:first-of-type {
	margin-bottom: 2rem;
}
.main-txt-contenido p:last-of-type {
	margin-top: 0;
}

/* MAIN QUOTE */
.quote {
	margin: 2rem auto 5rem;
}
.main-quote {
	grid-column: 2 / 3;
}
.quote i {
	font-size: 2rem;
}
.quote:nth-child(1) {
	font-size: 1.4rem;
	line-height: 2rem;
}
.perfil img {
	width: 5rem;
}
.autor-quote, .autor-cargo {
	font-size: 1.2rem;
}

/*==============================================
SITE-FOOTER
===============================================*/
/* TELEFONO / CORREO FOOTER */
.telefono, .correo-footer {
	margin-bottom: 2rem;
	font-size: 1.6rem;
}

/* ENLACES FOOTER */
.parte-1 li a, .parte-2 li a {
	font-size: 1.6rem;
}
.parte-1 li a:hover, .parte-2 li a:hover {
	font-size: 1.6rem;
	text-decoration: underline;
}

/* REDES FOOTER */
.facebook, .twitter, .instagram {
	font-size: 2.5rem;
}
